<div class="container" style="margin-top: 90px">
  <div class="row">


    <div class="holder">
      <h2>
        <%= t("header.sub_activities.onshore") %> <%= t("header.activities") %>
      </h2>
      <br>
      <hr>
      <h3 class="" style="text-align: center">
        <div class="span5 offset4">
          <p style="text-align: justify  !important;     font-size: 18px;
                  line-height: 40px;">

            *Oil & Gas Refining <br>
            *LNG and LPG Processing Facilities <br>
            *Power Plant <br>
            *Natural Gas Processing <br>
            *Refinery Overhaul <br>
            *Revamp And Expansion<br>
            *Compressor Stations<br>
            *Pump Stations<br>
            *Chemical Plants<br>
            *Tanks Farm<br>
            *On Shore Pipelines and Facilities<br>
            <br><br><br>

          </p>
        </div>
        <br>
      </h3>



    </div>



  </div>

</div>



