<div class="container" style="margin-top: 90px">
  <div class="row">


    <div class="holder">
      <h2>
        <%= t("header.sub_activities.onshore") %> <%= t("header.activities") %>
      </h2>
      <br>
      <hr>
      <h3 class="" style="text-align: center">
        <div class="span5 offset4" style="direction: ltr;">
          <p style="text-align: justify  !important;     font-size: 18px;
                  line-height: 40px;">

            &#9642;Oil & Gas Refining <br>
            &#9642; LNG and LPG Processing Facilities <br>
            &#9642; Power Plant <br>
            &#9642; Natural Gas Processing <br>
            &#9642; Refinery Overhaul <br>
            &#9642; Revamp And Expansion<br>
            &#9642; Compressor Stations<br>
            &#9642; Pump Stations<br>
            &#9642; Chemical Plants<br>
            &#9642; Tanks Farm<br>
            &#9642; On Shore Pipelines and Facilities<br>
            <br><br><br>

          </p>
        </div>
        <br>
      </h3>



    </div>



  </div>

</div>
