<div class="container" style="margin-top: 90px">
  <div class="row">


    <div class="holder">
      <h2>
        <%= t("header.sub_activities.powerplant") %> <%= t("header.activities") %>
      </h2>
      <br>
      <hr>
      <h3 class="" style="text-align: center">
        <div class="span5 offset4" style="direction: ltr;">
          <p style="text-align: justify  !important;     font-size: 18px;
                  line-height: 40px;">

            &#9642; Supply of Power Plant Main Equipment Material <br>
            &#9642; Rehabilitation & Renovation <br>
            &#9642; Maintenance  <br>

            <br><br><br>

          </p>
        </div>
        <br>
      </h3>



    </div>



  </div>

</div>
