
<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop" style="text-align: center">
      <div class="holder">
        <i class="icon icon-save icon-2x pull-right"></i>

        <p style="    line-height: 30px;
                text-align: justify;
                font-weight: bold;
        text-align: center">
            You have successfuly sent your feedback. Thank You!
        </p>

        <br>
        <br>
        <hr>
      </div>

    </article>
  </div>
</div>
