<article class="span3 box4">
  <div class="thumb-pad8 ">
    <div class="box_inner">
      <div class="thumbnail" style="border-radius: 15px; height: 190px;">
        <div class="caption">
          <div class="icon" style="margin-top: 8%;">
            <i class="icon icon-cogs icon-2x" style="color: #5da5e3"></i>
          </div>
          <br>
          <p style="height: 30px ">
            <%= x.Description %>
          </p>
          <hr class="hr">
          <div style="text-align: justify; padding-left: 6%" >
          <p>
            <span class="muted mysmall">quantity: </span>
            <%= x.quantity %>
          </p>
          <p>
            <span class="muted mysmall"> production date: </span>
            <%= x.production_date %>
          </p>
              <span class="muted mysmall">category:</span>
              <span style="color: #ffffff; font-size: 80%" ><%= x.construction_equipment_category.name %></span>
          </div>
        </div>
      </div>
    </div></div>
</article>