<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h2>
          <%= t("projects.title") %>
        </h2>
        <br>
        <hr>
      </div>

    </article>
  </div>

  <div class="row">
      <% @projects.each do |project| %>
          <%= render "projects/project" , :x => project %>
      <% end %>
  </div>


  <br>

  <div class="list6 " style="text-align: center">
    <%= paginate @projects %>
  </div>

</div>

<br>


<script type="application/javascript">
    $(document).ready(function() {

        //Sort random function
        function random(owlSelector){
            owlSelector.children().sort(function(){
                return Math.round(Math.random()) - 0.5;
            }).each(function(){
                $(this).appendTo(owlSelector);
            });
        }

        var owl = $(".proj");

        owl.owlCarousel({
            autoPlay : 3000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 500,
            singleItem : true,
            autoHeight : true,
            transitionStyle:"backSlide",
            beforeInit : function(owl){
                //Parameter elem pointing to $("#owl-demo")
                random(owl);
            }
        });
    });
</script>
