<div class="container" style="margin-top: 90px">
  <div class="row">
    <article class="span12 list6-box padTop">
      <div class="holder">
        <h2>
          <%= t("projects.title") %>
        </h2>
        <br>
        <hr>
      </div>

    </article>
  </div>

  <div class="row">
    <% @projects.order("start_date DESC").each do |project| %>
        <%= render "projects/project" , :x => project %>
    <% end %>
  </div>

  <br>

  <div class="list6 " style="text-align: center">
    <%= paginate @projects %>
  </div>
</div>
<br>

<script type="application/javascript">
    $(document).ready(function() {


        var $owl = $( '.proj' );
        $owl.on('initialize.owl.carousel', function(event){
            var selector = $('.proj');
            random(selector);
        });
//        $owl.owlCarousel();


        $owl.owlCarousel({
            autoPlay : 6000,
            stopOnHover : true,
            navigation:false,
            paginationSpeed : 1000,
            goToFirstSpeed : 2000,
            singleItem : true,
            autoHeight : true
        });
    });
</script>
