<article class="span3 box4">
  <div class="thumb-pad8" >
    <div class="box_inner">
      <div class="thumbnail">

        <div class="caption">
          <div class="icon" style="margin-top: 8%;">
            <%= image_tag "icon2.png" %>
          </div>
          <br>
          <p>
            <%= x.description %>
          </p>
          <hr class="hr">
          <p>
            area:
            <%= x.area %>
            M2
          </p>
          <p style="height: 40px">
            <i class="icon-map-marker"></i>
            <%= x.location %>
          </p>
        </div>
      </div>
    </div></div>
</article>