<article class="span3 box4">
  <div class="thumb-pad8" >
    <div class="box_inner">
      <div class="thumbnail" style="height: 160px; border-radius: 15px;">
        <ico class="icon icon-2x icon-wrench"  style=" margin-top: 10px; color: cornflowerblue;" ></ico>
        <div class="caption">
          <br>
          <p>
            <%= x.equipment %>
          </p>
          <hr class="hr">
          <p style="height: 60px;">
            <%= x.descripton %>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>