<!DOCTYPE html>
<html>
<head>
  <title>IGC </title>
  <%= stylesheet_link_tag    'slider', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'slider', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class=" ">
<%= yield %>

</body>

</html>
